@font-face {
  font-family: 'TWK Everett';
  src: url('../../fonts/TWKEverett-Regular.eot');
  src: url('../../fonts/TWKEverett-Regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/TWKEverett-Regular.woff2') format('woff2'),
    url('../../fonts/TWKEverett-Regular.woff') format('woff'), url('../../fonts/TWKEverett-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('../../fonts/TWKEverett-RegularItalic.eot');
  src: url('../../fonts/TWKEverett-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TWKEverett-RegularItalic.woff2') format('woff2'), url('../../fonts/TWKEverett-RegularItalic.woff') format('woff'),
    url('../../fonts/TWKEverett-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('../../fonts/TWKEverett-Bold.eot');
  src: url('../../fonts/TWKEverett-Bold.eot?#iefix') format('embedded-opentype'), url('../../fonts/TWKEverett-Bold.woff2') format('woff2'),
    url('../../fonts/TWKEverett-Bold.woff') format('woff'), url('../../fonts/TWKEverett-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TWK Everett';
  src: url('../../fonts/TWKEverett-BoldItalic.eot');
  src: url('../../fonts/TWKEverett-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../../fonts/TWKEverett-BoldItalic.woff2') format('woff2'),
    url('../../fonts/TWKEverett-BoldItalic.woff') format('woff'), url('../../fonts/TWKEverett-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
