.feature {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featurePrimary {
  width: 100vw;
  height: auto;
  min-height: 55vh !important;
  background-image: url("../../static/img/prim.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #eae5e1;
  text-align: center;
}

.linkf {
  text-decoration: none;
}

.heroBanner {
  padding: 20% 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}