.feature {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100%;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featurePrimary {
  width: 100vw;
  height: auto;
  min-height: 55vh !important;
  background-image: url("../../static/img/prim.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #eae5e1;
}

.linkf {
  text-decoration: none;
}