/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #4D4D4D;
  --ifm-color-primary-darker: #7D7D7D;
  --ifm-color-primary-darkest: #9B9B9B;
  --ifm-color-primary-light: #BCBCBC;
  --ifm-color-primary-lighter: #D6D6D6;
  --ifm-color-primary-lightest: #F6F6F6;
  --ifm-font-color-base-inverse: #FFFFFF;
  --ifm-font-color-highlight: #F15A27;
  --ifm-color-secondary: #FFFFFF;
  --ifm-background-color: #F9F9F9;
  --ifm-navbar-background-color: #F9F9F9;
  --ifm-footer-background-color: #F9F9F9;
  --ifm-code-font-size: 95%;
  --ifm-toc-border-color: #000000;
  --ifm-toc-border-color-alt: rgba(0,0,0,0.15);
  --ifm-toc-border-color-alt-2: rgba(0,0,0,0.25);
  --ifm-navbar-height: 80px;
  --ifm-navbar-shadow: #000000;
  --ifm-heading-font-family: "Inter";
  --ifm-font-family-base: "Inter";
}

html[data-theme='dark'] {
  --ifm-color-primary: #FFFFFF;
  --ifm-color-primary-dark: #FFFFFF;
  --ifm-color-primary-darker: #E0E0E0;
  --ifm-font-color-base-inverse: #000000;
  --ifm-background-color:  #000000;
  --ifm-navbar-background-color: #000000;
  --ifm-footer-background-color: #000000;
  --ifm-toc-border-color: #FFFFFF;
  --ifm-toc-border-color-alt: rgba(255,255,255,0.25);
  --ifm-toc-border-color-alt-2: rgba(255,255,255,0.5);
  --ifm-navbar-shadow: #FFFFFF;
}

@font-face {
  font-named-instance: Regular;
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("https://raw.githubusercontent.com/rsms/inter/master/docs/font-files/Inter.var.woff2") format("woff2")
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'],
html[data-theme='dark'] body, 
html[data-theme='dark'] .main-wrapper{
  background: #000000;
  color:var(--ifm-color-primary);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

body, html {
  font: 400 100%/1.5 "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow-x: hidden;
}

.navbar__brand img {
  width: 160px;
  margin-left: 40px;
}

b.navbar__title {
  text-transform: uppercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: var(--ifm-color-primary-darker);
}

.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.header-github-link {
  padding-left: 33px;
}

.header-github-link > span {
  display: none;
}

.header-discord-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M12 0C5.37063 0 0 5.37063 0 12C0 18.6154 5.37063 23.986 12 24C18.6294 24 24 18.6294 24 12C24 5.37063 18.6294 0 12 0ZM14.2096 6.13965C15.3145 6.32147 16.3774 6.65713 17.3984 7.11867C19.1467 9.6921 20.0138 12.6012 19.7061 15.9578C18.5313 16.839 17.2026 17.4963 15.79 17.9299C15.4683 17.4963 15.1886 17.0487 14.9508 16.5732C15.4124 16.4054 15.8599 16.1956 16.2795 15.9438C16.2236 15.9019 16.1711 15.8599 16.1187 15.818C16.0662 15.776 16.0138 15.734 15.9578 15.6921C13.4823 16.8669 10.6012 16.8669 8.12567 15.6921C8.06973 15.7341 8.01729 15.776 7.96484 15.818C7.91239 15.8599 7.85994 15.9019 7.804 15.9438C8.22358 16.1956 8.65714 16.4054 9.11868 16.5732C8.88092 17.0487 8.6012 17.4963 8.27952 17.9299C6.86693 17.5103 5.55225 16.839 4.36344 15.9578C4.0977 13.0627 4.64316 10.1396 6.65714 7.13266C7.66413 6.65713 8.74106 6.32147 9.84595 6.13965C9.9998 6.40538 10.1397 6.6851 10.2655 6.97881C11.4404 6.79699 12.6292 6.79699 13.804 6.97881C13.9159 6.71308 14.0697 6.3914 14.2096 6.13965ZM8.06973 12.6152C8.06973 13.4683 8.68511 14.1676 9.45435 14.1676C10.2376 14.1676 10.839 13.4683 10.8529 12.6152C10.8529 11.748 10.2376 11.0487 9.45435 11.0487C8.68511 11.0487 8.06973 11.762 8.06973 12.6152ZM13.2166 12.6152C13.2166 13.4683 13.832 14.1676 14.6012 14.1676C15.3704 14.1676 15.9718 13.4823 15.9858 12.6152C15.9998 11.748 15.3844 11.0487 14.6012 11.0487C13.832 11.0487 13.2166 11.762 13.2166 12.6152Z'/%3E%3C/svg%3E") no-repeat;
}

.header-discord-link {
  border-right: 1.5px solid var(--ifm-toc-border-color-alt);
  height: 32px;
  padding-right: 33px;
}

html[data-theme='dark'] .header-discord-link:before {
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 0C5.37063 0 0 5.37063 0 12C0 18.6154 5.37063 23.986 12 24C18.6294 24 24 18.6294 24 12C24 5.37063 18.6294 0 12 0ZM14.2096 6.13965C15.3145 6.32147 16.3774 6.65713 17.3984 7.11867C19.1467 9.6921 20.0138 12.6012 19.7061 15.9578C18.5313 16.839 17.2026 17.4963 15.79 17.9299C15.4683 17.4963 15.1886 17.0487 14.9508 16.5732C15.4124 16.4054 15.8599 16.1956 16.2795 15.9438C16.2236 15.9019 16.1711 15.8599 16.1187 15.818C16.0662 15.776 16.0138 15.734 15.9578 15.6921C13.4823 16.8669 10.6012 16.8669 8.12567 15.6921C8.06973 15.7341 8.01729 15.776 7.96484 15.818C7.91239 15.8599 7.85994 15.9019 7.804 15.9438C8.22358 16.1956 8.65714 16.4054 9.11868 16.5732C8.88092 17.0487 8.6012 17.4963 8.27952 17.9299C6.86693 17.5103 5.55225 16.839 4.36344 15.9578C4.0977 13.0627 4.64316 10.1396 6.65714 7.13266C7.66413 6.65713 8.74106 6.32147 9.84595 6.13965C9.9998 6.40538 10.1397 6.6851 10.2655 6.97881C11.4404 6.79699 12.6292 6.79699 13.804 6.97881C13.9159 6.71308 14.0697 6.3914 14.2096 6.13965ZM8.06973 12.6152C8.06973 13.4683 8.68511 14.1676 9.45435 14.1676C10.2376 14.1676 10.839 13.4683 10.8529 12.6152C10.8529 11.748 10.2376 11.0487 9.45435 11.0487C8.68511 11.0487 8.06973 11.762 8.06973 12.6152ZM13.2166 12.6152C13.2166 13.4683 13.832 14.1676 14.6012 14.1676C15.3704 14.1676 15.9718 13.4823 15.9858 12.6152C15.9998 11.748 15.3844 11.0487 14.6012 11.0487C13.832 11.0487 13.2166 11.762 13.2166 12.6152Z' fill='white'/%3E%3C/svg%3E") no-repeat;
}

.header-discord-link > span {
  display: none;
}

.header-discord-link:hover {
  opacity: 0.5;
  border-right: 1.5px solid var(--ifm-toc-border-color-alt-2);
}

.back-to-website {
  border-right: 1.5px solid var(--ifm-toc-border-color-alt);
  padding-right: 40px;
}

.back-to-website span:hover {
  opacity: 0.6;
}

.back-to-website > span > svg {
  display: none;
}

.navbar__items.navbar__items--right {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar__items--right > :last-child { 
  margin-left: 40px;
}

.navbar__items--right div:last-of-type > div:last-of-type {
  background-color: var(--ifm-color-primary) !important;
  border-color: transparent !important;
  left: 4px !important;
  top: 4px !important;
}

html[data-theme='dark'] .navbar__items--right div:last-of-type > div:last-of-type {
  left: 34px !important;
}

.navbar.navbar--fixed-top {
  border: 1px solid var(--ifm-toc-border-color-alt);
}

.navbar__items--right div:last-of-type > div:first-of-type:not(.navbar__items--right div:last-of-type > div:first-of-type > div) {
  background-color: var(--ifm-font-color-base-inverse) !important;
  border: 1px solid var(--ifm-color-primary) !important;
  height: 30px !important;
  box-sizing: border-box;
}

.react-toggle-track {
  width: 60px !important;
}

.react-toggle-track-x {
  background-size: 13px 13px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="11" height="14" viewBox="0 0 11 14" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M8.76769 1.66828C5.76561 4.67036 5.3913 9.16365 7.93128 11.7036C8.5628 12.3351 9.31549 12.7857 10.135 13.062C7.68756 14.1614 4.71435 13.7141 2.70433 11.7041C0.10648 9.10625 0.106366 4.89363 2.70433 2.29567C4.62101 0.378989 7.41512 -0.118381 9.79258 0.792582C9.4372 1.05584 9.09228 1.34342 8.76732 1.66837L8.76732 1.66819L8.76769 1.66828Z" fill="black" /%3E%3C/svg%3E') !important;
  height: 13px !important;
}

html[data-theme='dark'] .react-toggle-track-check {
  background-size: 16px 16px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M8.00129 3.69824C5.63653 3.69824 3.69849 5.6185 3.69849 8.00105C3.69849 10.3658 5.61875 12.3039 8.00129 12.3039C10.3661 12.3039 12.3041 10.3836 12.3041 8.00105C12.3041 5.63628 10.3661 3.69824 8.00129 3.69824Z" fill="white"/%3E%3Cpath d="M8.00102 2.4892C8.26767 2.4892 8.49886 2.25802 8.49886 1.99135V0.497846C8.49886 0.231193 8.26768 0 8.00102 0C7.73435 0 7.50317 0.231181 7.50317 0.497846V1.99135C7.50317 2.27586 7.73435 2.4892 8.00102 2.4892Z" fill="white"/%3E%3Cpath d="M8.00102 13.5127C7.73437 13.5127 7.50317 13.7439 7.50317 14.0105V15.504C7.50317 15.7707 7.73435 16.0019 8.00102 16.0019C8.26768 16.0019 8.49886 15.7707 8.49886 15.504V14.0105C8.49886 13.726 8.26768 13.5127 8.00102 13.5127Z" fill="white"/%3E%3Cpath d="M2.4892 8.00102C2.4892 7.73437 2.25802 7.50317 1.99135 7.50317H0.497846C0.231193 7.50317 0 7.73435 0 8.00102C0 8.26768 0.231181 8.49886 0.497846 8.49886H1.99135C2.27586 8.49886 2.4892 8.26768 2.4892 8.00102Z" fill="white"/%3E%3Cpath d="M15.504 7.50317H14.0105C13.7439 7.50317 13.5127 7.73435 13.5127 8.00102C13.5127 8.26768 13.7439 8.49886 14.0105 8.49886H15.504C15.7707 8.49886 16.0019 8.26768 16.0019 8.00102C16.0019 7.73435 15.7707 7.50317 15.504 7.50317Z" fill="white"/%3E%3Cpath d="M12.6061 4.10703L13.6551 3.05803C13.8507 2.86244 13.8507 2.54247 13.6551 2.34688C13.4595 2.1513 13.1396 2.1513 12.944 2.34688L11.895 3.39588C11.6994 3.59147 11.6994 3.91145 11.895 4.10703C12.0906 4.30261 12.4105 4.30262 12.6061 4.10703Z" fill="white"/%3E%3Cpath d="M3.3954 11.895L2.3464 12.944C2.15081 13.1396 2.15081 13.4595 2.3464 13.6551C2.54199 13.8507 2.86196 13.8507 3.05754 13.6551L4.10654 12.6061C4.30213 12.4105 4.30213 12.0906 4.10654 11.895C3.91095 11.6994 3.59098 11.6994 3.3954 11.895Z" fill="white"/%3E%3Cpath d="M3.3954 4.10703C3.59098 4.30262 3.91096 4.30262 4.10654 4.10703C4.30212 3.91144 4.30213 3.59147 4.10654 3.39589L3.05754 2.34689C2.86195 2.1513 2.54198 2.1513 2.3464 2.34689C2.15081 2.54248 2.15081 2.86245 2.3464 3.05803L3.3954 4.10703Z" fill="white"/%3E%3Cpath d="M12.6061 11.895C12.4105 11.6994 12.0906 11.6994 11.895 11.895C11.6994 12.0906 11.6994 12.4105 11.895 12.6061L12.944 13.6551C13.1396 13.8507 13.4595 13.8507 13.6551 13.6551C13.8507 13.4595 13.8507 13.1396 13.6551 12.944L12.6061 11.895Z" fill="white"/%3E%3C/svg%3E') !important;  
  height: 16px !important
}

.card-deck:last-of-type {
  margin-bottom: 2rem;
}

.card {
  border: 1px solid var(--ifm-toc-border-color-alt-2);
  background-color: var(--ifm-font-color-base-inverse);
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  width: 300px;
  height: 160px;
  padding: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  top: 0px;
  transition: top .2s ease-in-out;
  position: relative;
}

.card:hover {
  /* transform: scale(1.05); */
  top: -10px;
}

.card-title {
  margin-bottom: 22px;
}

main .container {
  margin-top: 40px;
  padding-top: 0;
}

.menu__link,
.table-of-contents__link {
  color: var(--ifm-font-color-primary);
}

.menu__link--sublist:after {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"%3E%3Cpath d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"%3E%3C/path%3E%3C/svg%3E'); 
}

.menu__link:hover,
.menu__link--active,
.table-of-contents__link:hover,
.table-of-contents__link--active {
  color: var(--ifm-font-color-highlight);
}

.theme-doc-sidebar-menu {
  margin: 40px;
  margin-left: calc(50px - var(--ifm-menu-link-padding-horizontal));
}

.menu__link,
.menu__link--active,
.menu__link:hover,
.menu__caret:hover, 
.menu__link:hover, 
.menu__list-item-collapsible--active, 
.menu__list-item-collapsible:hover {
  background: none !important;
}

.docs-wrapper div > aside,
main > div.container > div.row > div.col--3 > div > ul {
  border-color: var(--ifm-toc-border-color-alt);
}

main > div.container > div.row > div.col--3 > div > ul {
  padding-left: 40px;
}

.container.padding-top--md {
  padding-top: 0 !important;
}