.navbar-sidebar__back {
  display: none;
}

.container.home,
.container.create-cats {
  max-width: 1035px;
}

@media screen and (max-width: 1000px) {
  .navbar-sidebar__item.menu ul.menu__list {
    display: block;
    width: 96%;
  }
  .navbar-sidebar__item.menu ul.menu__list:not(.theme-doc-sidebar-menu):not(.theme-doc-sidebar-menu *) li:not(.theme-doc-sidebar-item-category) > a {
    border: 0;
  }
  .navbar-sidebar__item.menu ul.menu__list:not(.theme-doc-sidebar-menu):not(.theme-doc-sidebar-menu *) li:not(:first-child):not(.theme-doc-sidebar-item-category),
  .navbar-sidebar__item.menu ul.menu__list:not(.theme-doc-sidebar-menu):not(.theme-doc-sidebar-menu *) li:not(:first-child):not(.theme-doc-sidebar-item-category) a {
    display: inline-block;
    margin: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
  .back-to-website {
    border-bottom: 1px solid var(--ifm-color-primary) !important;
    border-radius: 0;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 32px;
    padding-left: 0;
  }
  .header-github-link {
    margin-left: 6px !important;
    margin-top: 32px !important;
  }
  [data-theme='dark'] .navbar-sidebar {
    border-right: 1px solid var(--ifm-toc-border-color-alt);
  }
  .navbar-sidebar__item.menu ul:not(.theme-doc-sidebar-menu):not(.theme-doc-sidebar-menu *),
  .navbar-sidebar .navbar-sidebar__brand > div:first-of-type {
    position: absolute;
    bottom: 0;
  }
  .navbar-sidebar__item.menu ul:not(.theme-doc-sidebar-menu):not(.theme-doc-sidebar-menu *) {
    padding-bottom: 32px;
  }
  .navbar-sidebar .navbar-sidebar__brand > div:first-of-type {
    right: -32px;
    padding-bottom: 32px;
    z-index: 1000;
    bottom: 30px;
    border: none;
  }
  [data-theme='dark'] .react-toggle .react-toggle-thumb, .react-toggle--checked .react-toggle-thumb {
    left: 36px !important;
  }
  .react-toggle-thumb {
    top: 4px !important;
    left: 3px !important;
  }
  .card, .card-sm {
    width: 390px;
  }
  .react-toggle-track,
  .navbar__items--right > div:first-of-type > div:first-of-type {
    background-color: var(--ifm-font-color-base-inverse) !important;
    border: 1px solid var(--ifm-color-primary) !important;
    height: 30px !important;
  }
}

@media screen and (max-width: 875px) {
  .card, .card-sm {
    width: 350px;
  }
}

@media screen and (max-width: 800px) {
  .card, .card-sm {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  #__docusaurus {
    overflow-x: hidden;
  }
  .navbar__toggle {
    position: absolute;
    right: 16px;
  }
  .navbar__toggle > svg {
    margin-right: 8px;
  }
  .navbar__items {
    width: 100vw;
  }
  .theme-doc-sidebar-menu {
    margin: 0;
  }
  img.navbar__logo {
    width: 94px;
    height: 12px;
    margin-left: 8px;
  }
  b.navbar__title {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
  }
  .main-wrapper {
    padding: 0.75rem;
    max-width: 100vw;
  }
  .navbar__items {
    margin-top: 16px;
  }
  .navbar--fixed-top,
  .navbar__inner {
    position: fixed !important;
  }
  .navbar--fixed-top {
    width: 100%;
  }
  main {
    margin-top: 80px;
  }
  .DocSearch {
    position: relative;
    top: -32px;
    right: 60px;
  }
}